{% extends "base.html" %}
{%block title%} Registration Page {%endblock%}
{%block content%}

<h1>Welcome to Home Page</h1>
		<p align="center">
			<a class="linkbutton" href=Registration>
				<button class="button1">Brick Maker Registration</button>
			</a>
		</p>
		<p align="center">
			<a class="HomePage button" href=Rate>
				<button class="button2">Brick Maker Charges</button>
			</a>
		</p>
		<p align="center">
			<a class="HomePage button" href=DailyWork>
				<button class="button2">Brick Maker Daily Work Details</button>
			</a>
		</p>
		<p align="center">
			<a class="HomePage button" href=AdvancePay>
				<button class="button2">Advance Payment details</button>
			</a>
		</p>
		<p align="center">
			<a class="HomePage button" href=WeeklyWork>
				<button class="button2">Weekly work details of Brickmaker</button>
			</a>
		</p>

{% endblock %}